html,
body {
  overscroll-behavior: none;
}

.container {
  overflow: hidden;
}

.app {
  &-content {
    transition: opacity 0.3s ease;
  }
  &.invisible {
    opacity: 0;
    pointer-events: none;
  }
}

.home {
  &-inner {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  &-blur {
    position: fixed;
    background: radial-gradient(
      ellipse at center,
      transparent 50%,
      var(--blur-clr) 100%
    );
    mask-image: radial-gradient(transparent 50%, black 100%);
    width: 100%;
    height: 100%;
    inset: 0px;
    backdrop-filter: blur(2.5px);
    pointer-events: none;
    user-select: none;
    z-index: -1;
  }
}

.mb-large {
  margin-bottom: 6rem;
}
.mb-medium {
  margin-bottom: 3rem;
}
.mb-small {
  margin-bottom: 1rem;
}

.m-center {
  margin-left: auto;
  margin-right: auto;
}

.t-center {
  text-align: center;
}

mark {
  color: inherit;
  background-color: var(--bg-hightlight);
}

hr {
  border: none;
  border-top: 1px solid var(--border-clr);
}
