html,
body {
  overscroll-behavior: none;
}

.container {
  overflow: hidden;
}

.home {
  &-inner {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  &-blur {
    position: fixed;
    background: radial-gradient(
      ellipse at center,
      transparent 50%,
      var(--blur-clr) 100%
    );
    mask-image: radial-gradient(transparent 50%, black 100%);
    width: 100%;
    height: 100%;
    inset: 0px;
    backdrop-filter: blur(2.5px);
    pointer-events: none;
    user-select: none;
    z-index: -1;
  }
}

// .hover-interaction-layer {
//   position: fixed;
//   inset: 0;
//   z-index: -1;
//   pointer-events: auto;
// }

.mb-large {
  margin-bottom: 6rem;
}
.mb-medium {
  margin-bottom: 3rem;
}
.mb-small {
  margin-bottom: 0.5rem;
}

.m-center {
  margin-left: auto;
  margin-right: auto;
}

hr {
  border: none;
  border-top: 1px solid var(--border-clr);
}
