.folder-icon {
  &-list {
    width: clamp(500px, 53.33%, 768px);
    height: 100%;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-areas:
      'desktop-1-a desktop-1-b'
      'desktop-2-a desktop-2-b'
      'desktop-3-a desktop-3-b'
      'desktop-4-a desktop-4-b'
      'desktop-5-a desktop-5-b'
      'desktop-6-a desktop-6-b';
    grid-gap: 0;
    padding: 100px 2.6vw;
  }

  &-item {
    padding: 0 2em 1em 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__container {
    position: relative;
  }

  &__img {
    width: clamp(60px, 6vw, 100px);
  }

  &__lock {
    position: absolute;
    left: 0;
    bottom: -7px;
    width: clamp(20px, 2vw, 40px);
    height: clamp(20px, 2vw, 40px);
  }

  &__label {
    font-family: 'inconsolata', monospace;
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 600;
    color: $black;
    margin-left: 1.4em;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: var(--primary-color);
    }
  }

  &__nuskin {
    grid-area: desktop-1-b;
  }
  &__stores {
    grid-area: desktop-2-b;
  }
  &__personal {
    grid-area: desktop-4-a;
  }
}
