.folder-icon {
  &-list {
    width: clamp(500px, 53.33%, 768px);
    height: 100%;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-areas:
      'desktop-r1-c1 desktop-r1-c2'
      'desktop-r2-c1 desktop-r2-c2'
      'desktop-r3-c1 desktop-r3-c2'
      'desktop-r4-c1 desktop-r4-c2'
      'desktop-r5-c1 desktop-r5-c2'
      'desktop-r6-c1 desktop-r6-c2';
    gap: 0 2vw;
    padding: 80px 2.6vw 100px;

    @media (max-width: 768px) {
      width: 100%;
      padding-left: 5vw;
      padding-right: 5vw;
    }
  }

  &-item {
    position: relative;
    // padding: 0 2em 1em 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }

  &__info {
    position: relative;
  }

  &__img {
    position: relative;

    img:not(.folder-icon__lock) {
      width: clamp(60px, 6vw, 100px);
    }
  }

  &__lock {
    position: absolute;
    left: -3px;
    bottom: -3px;
    width: 26px;
    height: 26px;
  }

  &__info {
    color: $black;
    margin-left: 1.4em;
  }

  &__tag {
    color: $blackDark;
    position: absolute;
    bottom: -1px;
    right: 0;
    display: inline-block;
    padding: 0.05em 0.02em 0.06em 0.08em;
    border: 2px solid $blackDark;
    width: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1;

    &--nuskin {
      background-color: $yellow;
    }
    &--stores {
      background-color: $green;
    }
    &--personal {
      background-color: $aqua;
    }
    &--legacy {
      background-color: $aqua;
    }
  }

  &__label {
    color: var(--text-primary-clr);
    margin-top: 0.2em;
    text-decoration: none;
    transition: color 0.3s ease;

    span {
      background-color: var(--window-bg-clr);
      padding: 0.3em 0.2em;
      box-decoration-break: clone;
    }
  }

  &__nuskin--guideline {
    grid-area: desktop-r1-c1;
  }
  &__nuskin--branding {
    grid-area: desktop-r1-c2;
  }
  &__nuskin--products {
    grid-area: desktop-r2-c2;
    @media screen and (max-width: 768px) {
      grid-area: desktop-r2-c1;
    }
  }
  &__stores {
    grid-area: desktop-r4-c2;
    @media screen and (max-width: 768px) {
      grid-area: desktop-r4-c1;
    }
  }
  &__personal--app {
    grid-area: desktop-r5-c1;
  }
  &__legacy--2019 {
    grid-area: desktop-r6-c1;
  }
  &__legacy--2017 {
    grid-area: desktop-r6-c2;
  }
}
