.footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  &-inner {
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      width: 100%;
      height: 100%;
    }
  }
}
