.info-icon {
  position: absolute;
  left: 24px;
  bottom: 46px;
  text-align: center;
  cursor: pointer;
  user-select: none;

  &__circle {
    width: 40px;
    height: 40px;
    background: $blue;
    border-radius: 50%;
    font-size: 3rem;
    border: 2px solid $black;
    text-align: center;
    line-height: 1.25;
    color: white;
    font-family: 'Micro 5', sans-serif;
    font-feature-settings: 'tnum';
    text-align: center;
    font-weight: bold;

    span {
      display: inline-block;
      width: 3px;
      margin: 0 auto;
      line-height: 1.25;
      vertical-align: middle;
    }
  }

  &__label {
    font-size: 1.2em;
    margin-top: 4px;
    color: white;
    text-shadow: 0 0 3px #000;
  }

  &:hover &__circle {
    background: #0288d1;
  }
}
