.loading {
  &-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    position: fixed;
    inset: 0;
    z-index: 9999;
    pointer-events: none;

    &__up {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: var(--window-header-clr);
      z-index: 1;
    }
    &__down {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: var(--window-header-clr);
      z-index: 1;
    }
  }

  &-content {
    position: relative;
    width: 460px;
    border: 1px solid #1e293b;
    background-color: #000a1a;
    padding: 3em 3em 3em 4em;
    color: white;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2em;
    z-index: 2;

    @media screen and (max-width: 768px) {
      width: 90vw;
    }
  }

  &-text {
    font-size: 1.4rem;
    font-weight: 800;
    color: white;
  }

  &-percent {
    // width: 2em;
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
  }
}

.loading-box {
  background: white;
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: space-between;
}

.loading-icon {
  color: #4fc3f7;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.progress-bar {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.bar {
  width: 6px;
  height: 24px;
  background: $lightBlue;
}
