.nav {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;

  &-inner {
    width: 100%;
    height: 50px;
    position: relative;
    padding: 0.5em 0 0.4em 1.5em;
    background-color: var(--window-header-clr);
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    align-items: center;
    gap: 2.4em;
  }

  &-left {
    justify-self: start;
  }

  &-right {
    justify-self: end;
  }

  &-logo {
    button {
      padding: 0.06em 0.4em 0;
      border-radius: 4px;
      display: inline-block;
      color: var(--text-primary-clr);
      font-size: 3rem;
      text-transform: uppercase;
      transition: all 0.1s ease;

      &:hover {
        background-color: var(--hover-bg-clr);
      }
      &:active {
        transform: translateY(2px);
      }
      &:focus {
        outline: 2px solid var(--focused-border-clr);
        outline-offset: 2px;
      }
    }
  }

  &-menu {
    position: relative;

    &-link {
      display: block;
      color: var(--text-link-clr);
      padding: 0.3em 0.6em;
      font-size: 1.8rem;
      font-weight: 600;
      text-transform: capitalize;
      border-radius: 4px;
      transition: all 0.1s ease;

      &:hover {
        background-color: var(--hover-bg-clr);
      }
      &:active {
        transform: translateY(2px);
      }
      &:focus {
        outline: 2px solid var(--focused-border-clr);
        outline-offset: 2px;
      }
    }

    &-pulldown {
      position: absolute;
      top: 50px;
      left: 0;
      width: clamp(300px, 25vw, 500px);
      height: auto;
      background-color: var(--window-header-clr);
      border: 2px solid var(--focused-border-clr);
      cursor: pointer;
      z-index: 100;
      border-radius: 10px;
      transition: all 0.1s ease;
      opacity: 1;
      visibility: visible;

      &.hidden {
        opacity: 0;
        visibility: hidden;
      }

      &-inner {
        padding: 1.1em 0.4em 0.4em;
        color: var(--text-primary-clr);
        font-size: 1rem;

        hr {
          width: calc(100% - 2em);
          border: none;
          border-top: 1px solid var(--text-primary-clr);
          margin: 0.8em auto 1.2em;
          opacity: 0.15;
        }
      }

      &-ttl {
        color: var(--text-primary-clr);
        font-size: 1.3rem;
        font-weight: 300;
        opacity: 0.6;
        text-transform: capitalize;
        margin-bottom: 0.4em;
        margin-left: 1.1em;
      }

      &-item {
        max-width: 100%;
        width: 100%;
        display: block;
        padding: 0.5em 1em;
        font-size: 1.4rem;
        color: var(--text-primary-clr);
        text-decoration: none;
        font-weight: 600;
        text-transform: capitalize;
        border-radius: 6px;
        display: flex;
        align-items: center;

        .folder-icon__tag {
          margin-right: 0.5em;

          & + span {
            width: calc(100% - 60px + 0.6em);
            line-height: 1.3;
          }
        }

        &:hover {
          background-color: var(--hover-bg-clr);
        }

        &-icon {
          width: 18px;
          height: 16px;
          margin-right: 0.6em;
        }
      }
    }
  }

  &-icon {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 4px;
    transition: all 0.1s ease;

    &:hover {
      background-color: var(--hover-bg-clr);
    }
    &:active {
      transform: translateY(2px);
    }
    &:focus {
      outline: 2px solid var(--focused-border-clr);
      outline-offset: 2px;
    }
  }

  &-icons {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-self: end;

    &-theme {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.6em;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }

    &-lang {
      color: var(--text-primary-clr);
      font-family: 'inconsolata', monospace, Helvetica, Arial, sans-serif;
      font-size: 1.6rem;
      font-weight: 700;
    }
  }

  & button {
    background: transparent;
    cursor: pointer;
  }

  & .folder-icon__tag {
    position: relative;
    border: 0;
  }
}
