.nav {
  position: absolute;
  width: 96vw;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  &-inner {
    position: relative;
    padding: 0 0 0 3em;
    background-color: var(--window-bg-clr);
    border-radius: 50px;
    border: 2px solid var(--border-clr);
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    gap: 1em;
    align-items: center;
  }

  &-left {
    justify-self: start;
  }

  &-right {
    justify-self: end;
  }

  &-logo {
    margin-right: 0.5em;

    a {
      padding-top: 0.06em;
      display: inline-block;
      color: var(--text-primary-clr);
      font-size: 3rem;
      text-transform: uppercase;
    }
  }

  &-menu {
    position: relative;

    &-link {
      display: block;
      color: var(--text-primary-clr);
      padding: 0.4em 0.8em;
      font-size: 1.6rem;
      font-weight: 600;
      text-transform: capitalize;
      border-radius: 4px;

      &:hover {
        background-color: var(--window-header-clr);
      }
    }

    &-pulldown {
      border: 2px solid var(--border-clr);
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      height: auto;
      cursor: pointer;
      z-index: 100;
      background-color: var(--window-bg-clr);
      border-radius: 10px;
      transition: all 0.1s ease;
      opacity: 1;
      visibility: visible;

      &.hidden {
        opacity: 0;
        visibility: hidden;
      }

      &-inner {
        padding: 1.1em 0.4em 0.4em;
        color: var(--text-primary-clr);
        font-size: 1rem;

        hr {
          width: calc(100% - 2em);
          border: none;
          border-top: 1px solid var(--border-clr);
          margin: 0.8em auto 1.2em;
          opacity: 0.5;
        }
      }

      &-ttl {
        color: var(--text-primary-clr);
        font-size: 1.3rem;
        font-weight: 300;
        opacity: 0.6;
        text-transform: capitalize;
        margin-bottom: 0.4em;
        margin-left: 1.1em;
      }

      &-item {
        width: 100%;
        display: block;
        padding: 0.5em 1em;
        font-size: 1.4rem;
        color: var(--text-primary-clr);
        text-decoration: none;
        font-weight: 600;
        text-transform: capitalize;
        border-radius: 6px;
        display: flex;
        align-items: center;

        .folder-icon__tag {
          margin-right: 0.5em;

          & + span {
            width: calc(100% - 60px + 0.6em);
            line-height: 1.3;
          }
        }

        &:hover {
          background-color: var(--window-header-clr);
        }

        img {
          width: 15px;
          margin-right: 0.6em;
        }
      }
    }
  }

  &-icons {
    display: flex;
    gap: 1em;
    justify-self: end;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.4em;
      border-radius: 4px;

      &:hover {
        background-color: var(--window-header-clr);
      }
    }

    &-theme {
      width: 2rem;
      height: 2rem;
    }

    &-fullscreen {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  & button {
    background: transparent;
    cursor: pointer;
  }

  & .folder-icon__tag {
    position: relative;
    border: 0;
  }
}
