.notfound {
  width: 100%;
  height: 100vh;
  background-color: var(--window-bg-clr);

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: var(--text-primary-clr);
  }

  &-ttl {
    font-size: 8rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &-paragraph {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  p {
    font-size: 1.4rem;
    margin-bottom: 4rem;
  }

  a {
    display: inline-block;
    color: var(--text-primary-clr);
    font-size: 1.6rem;
    border: 2px solid var(--text-primary-clr);
    padding: 1.6rem 3rem;
    border-radius: 10px;
    transition: all 0.1s ease;

    &:hover {
      background-color: var(--text-primary-clr);
      color: var(--window-bg-clr);
      text-decoration: none;
    }
  }
}
