.time {
  position: absolute;
  color: #e3e3e3;
  top: 24px;
  left: 24px;
  font-family: 'Micro 5', sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  cursor: default;
  user-select: none;
  background-color: $black;

  &-text {
    font-feature-settings: 'tnum'; // 'tabular numbers'
    padding: 0.1em 0;
    display: inline-block;
    width: 4.2em;
    white-space: nowrap;

    &__ampm {
      padding-left: 0.2em;
      opacity: 0.4;
      font-size: 0.8em;
      text-transform: uppercase;
    }
  }
}
