.welcome {
  &-body-inner {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    gap: 16px;

    p {
      margin: 0 auto 16px;
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 16px;
      }
    }

    article {
      width: 90%;
      margin: 0 auto;
      text-align: center;
    }
  }

  &-portrait {
    margin: 12px auto 6px;
    display: flex;
    justify-content: center;

    &-inner {
      border: 1px solid #f0f0f0;
      border-radius: 50px;
      width: 100px;
      height: 100px;
      background: #f6f6f6;
      overflow: hidden;
    }
  }

  &-title {
    color: var(--text-primary-clr);
    text-align: center;

    h1 {
      font-size: 2.4rem;
      font-weight: 600;
      font-variation-settings: 'wdth' 130;
      margin-bottom: 0.35em;
    }
  }

  &-sub {
    color: #959595;
    text-align: center;
    align-self: end;

    a {
      color: var(--text-link-clr);
      font-weight: 500;
      border-bottom: 1px solid #959595;
    }
  }
}
