// src/styles/window.scss
.window {
  &-wrapper {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 600px;
    min-height: 300px;
    background-color: white;
    border: 2px solid $black;
    border-radius: 6px;
    filter: drop-shadow(10px 10px 0px rgba(6, 0, 52, 0.15));
    z-index: 100;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.05s ease;
    will-change: transform;
  }

  &-header {
    position: relative;
    font-family: 'Inconsolata', monospace;
    font-variation-settings: 'wdth' 130;
    font-size: 1.6rem;
    background-color: $blue-light;
    padding: 0.6em;
    cursor: move;
    user-select: none;

    &__close {
    }
    &__full {
      margin-left: 8px;
    }

    &__ttl {
      text-align: center;
      font-weight: bold;
    }

    &__buttons {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      vertical-align: center;

      button {
        border: none;
        background: transparent;
        cursor: pointer;
        padding-top: 0.2em;
      }
    }
  }

  &-body {
    padding: 16px;
    overflow-y: auto;
    flex: 1;
  }
}

/* 模拟最大化 */
.fullscreen {
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  transform: none !important;
  position: fixed;
  max-width: none;
  max-height: none;
  border-radius: 0;
  z-index: 999;
}
