.window {
  &-container {
    top: 0;
    left: 0;
  }

  &-dialog {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 600px;
    height: 350px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    background-color: var(--window-bg-clr);
    border: 2px solid var(--border-clr);
    border-radius: 16px;
    // filter: drop-shadow(10px 10px 0px rgba(28, 25, 51, 0.15));
    transition: all 0.05s ease;
    will-change: transform;
    backdrop-filter: blur(1.1em);
    opacity: 1;
    overflow: hidden;
    z-index: 100;

    &.animate-out {
      opacity: 0;
      transform: scale(0.95);
    }

    /* Simulate maximize */
    &.fullscreen {
      left: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      width: 100vw !important;
      transform: none !important;
      position: fixed;
      max-width: none;
      max-height: none;
      border-radius: 0;
      z-index: 999;
    }

    &.focused {
      border-color: var(--focused-border-clr);
    }
  }

  &-header {
    position: relative;
    font-family: 'Inconsolata', monospace;
    font-variation-settings: 'wdth' 130;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: var(--window-header-clr);
    padding: 0.6em;
    cursor: move;
    user-select: none;

    &__full {
      margin-left: 8px;
    }

    &__ttl {
      font-size: 1.65rem;
      color: var(--text-primary-clr);
      text-align: center;
      font-weight: bold;
    }

    &__buttons {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      button {
        width: 20px;
        height: 20px;
        border: none;
        background: transparent;
        cursor: pointer;
        pointer-events: auto;
        z-index: 10;
        transition: all 0.1s ease;

        &:active {
          transform: translateY(2px);
        }
      }
    }
  }

  &-body {
    overflow-y: auto;
    flex: 1;
  }

  &-content {
    width: clamp(600px, 70%, 1200px);
    margin: 0 auto;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4em 0 2em 0;

      .text-date {
        font-size: 1.6rem;
        color: var(--text-primary-clr);
      }
    }

    &__big-small {
      display: flex;
      align-items: center;
      gap: 1em;
    }

    &__small-big {
      display: flex;
      align-items: center;
      gap: 1em;
      flex-direction: row-reverse;
    }

    &__single {
      display: flex;
      flex-direction: column;
    }

    &__ttl {
      font-size: 2.4rem;
      color: var(--text-primary-clr);
      text-align: center;
    }

    .text-primary {
      column-count: 2;
      column-gap: 20px;
    }
  }
}

.content {
  &-video {
    width: 100%;
    border: 2px solid var(--border-clr);
    border-radius: 8px;
    overflow: hidden;

    video {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }
  }
}
