$black: #00171f;
$red: #ee6352;
$blue: #4da2ff;
$blue-light: #f2f5ff;

$font-family-en: 'inconsolata', monospace, Helvetica, Arial, sans-serif;
$font-family-theme: 'Micro 5', monospace, Helvetica, Arial, sans-serif;
$font-family-jp: 'inconsolata', monospace, Helvetica, Arial, sans-serif;

$font-size-xs: 1.2rem;
$font-size-sm: 1.4rem;
$font-size-md: 1.6rem;
$font-size-lg: 2rem;
$font-size-xl: 2.4rem;
$font-size-xxl: 3.2rem;

$line-height-base: 1.6;
$line-height-heading: 1.3;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
