$white: #ffffff;
$whiteDark: #d5e1e7;
$black: #00171f;
$blackDark: #1b2123;
$red: #ee6352;
$blue: #4da2ff;
$lightBlue: #f2f5ff;
$lightBlueDark: #f2f5ff;
$aqua: #34f6f2;
$aquaDark: #26bcd0;
$yellow: #ffd639;
$yellowDark: #ffb100;
$green: #a1e8cc;
$greenDark: #5ed3a5;

[data-theme='light'] {
  --window-bg-clr: #{$white};
  --window-header-clr: #{$lightBlue};
  --text-primary-clr: #{$black};
  --border-clr: #{$black};
  --tag-bg-nuskin-clr: #{$yellow};
}

[data-theme='dark'] {
  --window-bg-clr: #{$blackDark};
  --window-header-clr: #{lightBlueDark};
  --text-primary-clr: #{$whiteDark};
  --border-clr: #{$blackDark};
  --tag-bg-nuskin-clr: #{$yellowDark};
}

$font-family-en: 'inconsolata', monospace, Helvetica, Arial, sans-serif;
$font-family-theme: 'Micro 5', monospace, Helvetica, Arial, sans-serif;
$font-family-jp: 'inconsolata', monospace, Helvetica, Arial, sans-serif;

$font-size-xs: 1.2rem;
$font-size-sm: 1.4rem;
$font-size-md: 1.6rem;
$font-size-lg: 2rem;
$font-size-xl: 2.4rem;
$font-size-xxl: 3.2rem;

$line-height-base: 1.6;
$line-height-heading: 1.3;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
