@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .font-inter {
    font-family: 'Inter', sans-serif;
  }

  .font-hepta-slab {
    font-family: 'Hepta Slab', serif;
  }

  .font-noto-sans-jp {
    font-family: 'Noto Sans JP', sans-serif;
  }
}
