@use '@/styles/abstracts/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&family=Micro+5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

// 本文テキスト
.text-primary {
  color: var(--text-primary-clr);
  font-weight: 400;
  font-optical-sizing: auto;
}

html[lang='en'] {
  .text-primary {
    font-family: $font-family-en, $font-family-fallback;
    font-size: $font-size-md;
    line-height: 1.5;
    letter-spacing: 0。01em;
  }
  .welcome-title__name {
    font-family: $font-family-en, $font-family-fallback;
    font-size: 2.4rem;
  }
  .window-content__title {
    font-family: $font-family-en, $font-family-fallback;
    font-size: 2rem;
  }
  .folder-icon__label {
    font-family: $font-family-en, $font-family-fallback;
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 600;
  }
  .nav-menu-pulldown__title {
    font-family: $font-family-en, $font-family-fallback;
    font-size: 1.3rem;
    font-weight: 600;
  }
}
html[lang='ja'] {
  .text-primary {
    font-family: $font-family-jp, $font-family-fallback;
    font-size: $font-size-sm;
    line-height: 1.75;
    letter-spacing: 0.05em;
  }
  .welcome-title h1 {
    font-family: $font-family-jp, $font-family-fallback;
    font-size: 2rem;
    letter-spacing: 0.1em;
  }
  .window-content__title {
    font-family: $font-family-jp, $font-family-fallback;
    font-size: 1.8rem;
  }
  .folder-icon__label {
    font-family: $font-family-jp, $font-family-fallback;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 600;
  }
  .nav-menu-pulldown__title {
    font-family: $font-family-jp, $font-family-fallback;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.text-xs {
  font-size: $font-size-xs;
  line-height: 1.4;
}
.text-md {
  font-size: $font-size-md;
}
.text-lg {
  font-size: $font-size-lg;
}

.text-en {
  font-family: $font-family-en;
}
.text-theme {
  font-family: $font-family-theme;
  font-feature-settings: 'tnum';
}
